.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Toàn nền cam */
.background {
    -fx-fill: #E6763E;
    -fx-background-radius: 0 60 60 0;
    -fx-border-radius: 0 60 60 0;
}

/* Khối bên trái */
.left-pane {
    -fx-background-color: #F5C9A4;
    -fx-background-radius: 0 60 60 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 5, 5);
}

/* Tiêu đề to */
.title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 60 0 10 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 3, 3);
}

/* Nhãn chữ trắng */
.labeltt {
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
}

/* Ô nhập nhỏ lại */
.input-field {
    -fx-pref-width: 320;
    -fx-pref-height: 40;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-padding: 0 10;
    -fx-font-size: 13px;
}

/* Liên kết */
.forgot-link {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-underline: true;
    -fx-alignment: center-right;
}

/* Nút đăng nhập */
.login-btn {
    -fx-background-color: #6B240C;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-width: 140;
    -fx-pref-height: 40;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: #5b1d08;
}


.right-pane {
    -fx-background-color: transparent;
    -fx-border-radius: 0 60 60 0;
    -fx-background-radius: 0 60 60 0;
}

.title-bar {
    -fx-background-color: #E6763E;   /* màu cam CrabKing */
    -fx-padding: 10;
    -fx-alignment: CENTER_LEFT;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.control-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.control-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-background-radius: 6;
}

.close-btn:hover {
    -fx-background-color: #c62828;
}
