.menu-bg {
    -fx-background-color: #D9D9D9;
}

.menu-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Thanh tìm kiếm và filter */
.menu-search-container {
    -fx-padding: 10 20;
    -fx-background-color: white;
    -fx-alignment: center-left;
    -fx-background-radius: 20 20 28 28;
}

.menu-search-box {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
}

.search-field {
    -fx-background-radius: 20 20 28 28;
    -fx-background-color: white;
}

.search-icon {
    -fx-font-size: 14px;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #fcbf90;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 4 8;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.combo-box:hover {
    -fx-border-color: #f9a36e;
}

.combo-box .arrow-button {
    -fx-background-color: #ffe3cc;
    -fx-background-radius: 8;
}


.menu-add-btn {
    -fx-background-color: #ff8c66;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 6 14;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-min-width: 40;
    -fx-alignment: center;
}

.menu-add-btn:hover {
    -fx-background-color: #ff7a4d;
}

/* Danh sách món ăn */
.menu-scroll {
    -fx-background-color: transparent;
}

.menu-grid {
    -fx-padding: 20;
    -fx-background-color: #EFEFEF;
    -fx-alignment: center;
    -fx-background-radius: 20;
    -fx-hgap: 10;
    -fx-vgap: 30;
}

.menu-item {
    -fx-background-color: white;
    -fx-padding: 12 14 12 14;
    -fx-background-radius: 12;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 2);
    -fx-cursor: hand;
    -fx-pref-width: 240;   /* mỗi card rộng 220px */
    -fx-spacing: 10;
    -fx-border-color: #E6763E;
    -fx-border-radius: 12;
}



.menu-item:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 4);
}

.item-info {
    -fx-alignment: center;
    -fx-background-color: #efefef;
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-pref-width: 100%;
    -fx-background-radius: 20;
}


.item-group {
    -fx-alignment: center;
}

.item-title {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.item-detail {
    -fx-font-size: 9px;
    -fx-text-fill: #E6763E;
}

.menu-image {
    -fx-fit-width: 180;
    -fx-fit-height: 120;
    -fx-preserve-ratio: true;
}
.scroll-pane > .viewport {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 12px;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 16;
    -fx-padding: 30;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #E6763E;
    -fx-background-radius: 8;
    -fx-max-height: 60px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3,0,0,1);
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #c1915f;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}

/*css cho modal*/

#modalBox {
    -fx-max-width: 300;
    -fx-max-height: 350;
}

#modalLayer {
    -fx-alignment: center; /* đảm bảo modalBox nằm giữa */
}

#modalBg {
    -fx-view-order: 1;   /* nằm dưới */
}

#modalBox {
    -fx-view-order: 0;   /* nằm trên */
}

#btnModalCancel {
    -fx-background-color: #d0d0d0;
    -fx-text-fill: #333;
}

#btnModalCancel:hover {
    -fx-background-color: #bcbcbc;
}

/* Nút Lưu/Thêm */
#btnModalSave {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

#btnModalSave:hover {
    -fx-background-color: #43A047;
}

.btnModal {
    -fx-min-width: 62;
    -fx-min-height: 32;
    -fx-background-radius: 8;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.text-field_maBan{
    -fx-pref-width: 160;
    -fx-min-height: 34;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 8;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 8;
    -fx-padding: 0 8;
}


